footer {
    padding: 20px;
}
footer .attribution {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

footer .attribution a {
    text-decoration: none;
    font-weight: 800;
    color: var(--strong-cyan--sb-bg);
    transition: color .13s ease-in;
    cursor: pointer;
}

footer .attribution a:hover {
    color: var(--soft-cyan--full-sb);
}

footer .created-with p {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .created-with p img {
    height: 24px;
    margin: 0 5px;
}