.pricing-component {
    background-color: var(--white);
    border-radius: 10px;
    margin-top: 30px;

    box-shadow: 15px 15px 30px var(--box-shadow-1);
}
.pricing-component .top-section {
    display: grid;
    gap: 40px;
    grid-template-areas: 
    "pageviewsContainer"
    "sliderContainer"
    "priceContainer"
    "billingContainer";
    padding: 30px 20px;
    align-items: center;
    border-bottom: 1px solid var(--light-grayish-blue--empty-sb);
}

.pricing-component .top-section .pageviews-container {
    grid-area: pageviewsContainer;
}

.pricing-component .top-section .pageviews-container h2 {
    color: var(--grayish-blue--txt);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.pricing-component .top-section .slider-container {
    grid-area: sliderContainer;
}

#pricing-slider {
    appearance: none;
    background-color: var(--soft-cyan--full-sb);
    height: 10px;
    border-radius: 50px;
    width: 100%;
}

#pricing-slider::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--strong-cyan--sb-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('/images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 20px 40px var(--strong-cyan--sb-bg);
    cursor: pointer;
    transition: background-color .13s ease-in;
}

#pricing-slider::-webkit-slider-thumb:hover {
    background-color: var(--soft-cyan--full-sb);
}
#pricing-slider::-webkit-slider-thumb:active {
    background-color: var(--strong-cyan--sb-bg);
}

.pricing-component .top-section .price-container {
    grid-area: priceContainer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grayish-blue--txt);
}

.pricing-component .top-section .price-container h2 {
    font-size: 2.5rem;
    color: var(--dark-desaturated-blue);
    margin-right: 10px;
}
.pricing-component .top-section .billing-container {
    grid-area: billingContainer;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: calc(50% - 25px - 5px - 10px) 50px calc(50% - 25px - 5px - 10px);
    color: var(--grayish-blue--txt);
}

.pricing-component .top-section .billing-container p {
    font-size: .8rem;
}

.pricing-component .top-section .billing-container p:first-child {
    text-align: right;
}

.custom-checkbox {
    height: 26px;
}

.custom-checkbox label {
    display: inline-block;
    width: 50px;
    height: 26px;
    background-color: var(--light-grayish-blue--toggle-bg);
    border-radius: 50px;
    position: relative;
    transition: background-color .13s ease-in;
    cursor: pointer;
}

.custom-checkbox label::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    height: 16px;
    width: 16px;
    background-color: var(--white);
    border-radius: 50%;
    transition: transform .13s ease-in-out;
    transform: translateX(0);
}

.custom-checkbox input[type="checkbox"]:checked + label::before {
    transform: translateX(24px);
}

.billing-container p {
    position: relative;
}

.billing-container .discount-p::after {
    content: '-25%';
    background-color: var(--light-grayish-red--dt-bg);
    padding: 3px 6px;
    border-radius: 50px;
    font-size: .65rem;
    font-weight: 800;
    color: var(--light-red);
    margin-left: 5px;
    position: absolute;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.custom-checkbox label:hover, .custom-checkbox label:focus {
    background-color: var(--strong-cyan--sb-bg);
}

.pricing-component .bottom-section {
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

}

.pricing-component .bottom-section p {
    color: var(--grayish-blue--txt);
}

.pricing-component .bottom-section .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.pricing-component .bottom-section .feature img {
    margin-right: 15px;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--pale-blue--cta-txt);
    background-color: var(--dark-desaturated-blue);
    padding: 13px 40px;
    font-size: 15px;
    border-radius: 50px;
    transition: color .13s ease-in;
    cursor: pointer;
}

.cta-button:hover,
.cta-button:focus {
    color: var(--white);
}

@media (min-width: 500px) {
    .pricing-component {
        margin-top: 50px;
    }
    .pricing-component .top-section {
        padding: 40px;
        grid-template-areas: 
        "pageviewsContainer priceContainer"
        "sliderContainer sliderContainer"
        "billingContainer billingContainer";
    }
    .pricing-component .top-section .pageviews-container h2 {
        text-align: left;
    }
    .pricing-component .bottom-section {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 40px;
    }

    .pricing-component .bottom-section .feature {
        justify-content: flex-start;
    }
    .billing-container .discount-p::after {
        content: '25% discount';
        position: unset;
    }
}
